@model List<ResultProductDto>

<div class="tab-content" data-aos="fade-up" data-aos-delay="200">

    <!-- ALL -->
    <div class="tab-panel fade show active" id="menu-all">

        <div class="tab-header text-center">
            <p>Bizim Menyu</p>
            <h3>Başlanğıc Ləzzətlər</h3>
        </div>

        <div class="row gy-5">
            @foreach (var item in Model)
            {
                <div class="col-lg-4 menu-item">
                    <a href="@item.ImageUrl" class="glightbox">
                        <img src="@item.ImageUrl" style="height:250px;width:500px" class="menu-img img-fluid" />
                    </a>
                    <h4>@item.ProductName</h4>
                    <p class="ingredients">@item.ProductDescription</p>
                    <p class="price">@item.Price manat</p>
                </div>
            }
        </div>

    </div>

   
    @foreach (var categoryId in Model.Select(x => x.CategoryId).Distinct())
    {
        <div class="tab-pane fade" id="menu-@categoryId">

            <div class="tab-header text-center">
                <p>Menyu</p>
                <h3>@Model.First(x => x.CategoryId == categoryId).CategoryName</h3>
            </div>

            <div class="row gy-5">
                @foreach (var item in Model.Where(x => x.CategoryId == categoryId))
                {
                    <div class="col-lg-4 menu-item">
                        <a href="@item.ImageUrl" class="glightbox">
                            <img src="@item.ImageUrl" class="menu-img img-fluid" />
                        </a>
                        <h4>@item.ProductName</h4>
                        <p class="ingredients">@item.ProductDescription</p>
                        <p class="price">@item.Price manat</p>
                    </div>
                }
            </div>

        </div>
    }

</div>
