@model List<ResultFeatureDtos>

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    int count = 0;

}

<section class="section">
    <div class="section-body">
        <div class="row">
            <div class="col-12 col-md-12 col-lg-12">
                <div class="card">
                    <div class="card-header">
                        <h4>Önə çıxarma bölməsi</h4>
                        
                    </div>
                    <div class="card-body">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th scope="col">#</th>
                                    <th scope="col">Başlıq</th>
                                    <th scope="col">Alt Başlıq</th>
                                    <th scope="col">Açıqlama</th>
                                    <th scope="col">Şəkil</th>
                                    <th scope="col">Video</th>
                                    <th scope="col">Sil</th>
                                    <th scope="col">Yenilə</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model)
                                {
                                    count++;
                                    <tr>
                                        <th scope="row">@count</th>
                                        <td>@item.Title</td>
                                        <td>@item.SubTitle</td>
                                        <td>@item.Description</td>
                                        <td>@item.ImageUrl</td>
                                        <td>@item.VideoUrl</td>
                                        <td><a href="/Features/DeleteFeature/@item.FeatureId" class="btn btn-danger">Sil</a></td>
                                        <td><a href="/Features/UpdateFeatureForm/@item.FeatureId" class="btn btn-success">Yenilə</a></td>
                                    </tr>
                                }

                            </tbody>


                            <br />

                            @if (Model.Count==0)
                            {
                                <a href="/Features/CreateFeatureForm" class="btn btn-info">Yeni Önə çıxarılan bölmə</a>
                            }
                          
                           
                        </table>
                    </div>
                </div>


            </div>

        </div>

</section>
