@model List<ResultTestimonialDtos>

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    int count = 0;

}

<section class="section">
    <div class="section-body">
        <div class="row">
            <div class="col-12 col-md-12 col-lg-12">
                <div class="card">
                    <div class="card-header">
                        <h4>Müştəri Şərhlər Bölməsi</h4>

                    </div>
                    <div class="card-body">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th scope="col">#</th>
                                    <th scope="col">Müşdəri adı</th>
                                    <th scope="col">Müşdəri Ünvan</th>
                                    <th scope="col">Müşdəri Şərhi</th>
                                    <th scope="col">Müşdəri Şəkili</th>
                                    <th scope="col">Sil</th>
                                    <th scope="col">Yenilə</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model)
                                {
                                    count++;
                                    <tr>
                                        <th scope="row">@count</th>
                                        <td>@item.NameSurname</td>
                                        <td>@item.Title</td>
                                        <td>@item.Comment</td>
                                        <td>@item.ImageUrl</td>
                                        <td><a href="/Testimonialls/DeleteTestimonial/@item.TestimonialId" class="btn btn-danger">Sil</a></td>
                                        <td><a href="/Testimonialls/UpdateTestimonialForm/@item.TestimonialId" class="btn btn-success">Yenilə</a></td>
                                    </tr>
                                }

                            </tbody>

                            <a href="/Testimonialls/CreateTestimonialForm" class="btn btn-info">Yeni Şərh yarat</a>


                        </table>
                    </div>
                </div>


            </div>

        </div>

</section>
